body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.bg-img{
    width: 100%;
    margin-bottom: 120px;
}
.box1{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    color: white;
}
.b1h1{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
h5,h1{
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.d1{
    color: black;
    display: block;
    margin-top: 20px;
    font-size: 12px;
    margin: none;
    padding-bottom: 15px;
}
.ele{
    display: grid;
    align-items: center;
    border-right: 0.1px solid #cac8c7;
    padding-bottom: 20px;
    width: 170px;
    margin-left: 20px;
}
.b1in{
    border: none;
    color: #cac8c7;
}
.b{
    display: flex;
    align-items: center; 
}
.search{
    background-color: #fa8b02;
    border: none;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 5px;
    cursor: pointer;
}
.box2
{
    display: grid;
    margin: 0px 100px 100px 100px;
}
.l1{
    position: relative;
}
.b1{
    position: absolute;
    top: 20px;
    right: 60px;
    border: none;
    height: 36px;
    background-color: #efefef;
    width: 36px;
    border-radius: 18px;
    color: rgb(68, 68, 68);
    cursor: pointer;
}
.b2{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: #fa8b02;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    color: white;
    cursor: pointer;
}
.l2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.post,
.n2p1,
.n2p2,
.n3p1,
.n3p2,
.n4p1{
    display: inline-block;
}
.igm{
    height: 405px;
    width: 280px;
}
.post{
    width: 280px;
    margin-right: 60px;
}
.n1{
    font-weight: bolder;
    font-size: 21px;
    margin: 0px;
}
.n2p1{
    color: #727272;
    margin: 0px;
}
.n2p2{
    color: #fa8b02;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0px 0px 6px; 

}
.in3p1{
    padding-top: 0px;
}
.n3{
    display: flex;
    justify-content: space-between;
    margin-top: 0.1px;
    color: #fdcb8c;
    font-size: 13px;
    margin: 10px 0px 10px 0px;
}
.n3p1,
.n3p2,
.n4p1{
    margin: 0px;
}
.n4{
    color: #545454;
}
.box3{
    margin: 0px 100px 100px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.b3p1{
    margin-right: 210px;
}
.b3p2{
    padding-top: 120px;
}
.b3l1{
    color: #727272;
    font-size: 13px;
    margin-bottom: 10px;
}
.b3l3{
    color: #5a5a5a;
    font-size: 15px;
    margin-bottom: 35px;
}
.b3l4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}
.b3b1{
    display: grid;
    width: 100px;
    margin-right: 30px;
}
.b3x1{
    color: #fa8b02;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.b3x2{
    color: #7e7e7e;
    font-size: 15px;
}
.box4{
    background-color: #fec18f;
    height: 450px;
    display: flex;
    position: relative;
    margin-bottom: 120px;
}
.b4p2{
    position: absolute;
    top: -149px;
    right: 200px;
}
.b4p1{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 570px;
    height: 330px;
    left: 250px;
    top: 60px;
    border-radius: 20px;
    text-align: center;
}
.b4l1{
    margin: 35px 100px 50px 110px;
}
.b4l2{
    margin: 0px 55px 30px 50px;
    font-size: 19px;
    color: #3e3e3e;
}
.bb4l3{
    background-color: #fa8b02;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 210px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.box5{
    margin: 0px 250px 10px 155px;
    display: flex;

}
.b5o{
    margin-right: 30px;
    margin-bottom: 70px;
    width: 330px;
}
.ib5l1{
    height: 300px;
    width: 280px;
}
.b5l2{
    font-weight: bolder;
    font-size: 21px;
    color: rgb(27, 27, 27);
    margin-top: 45px;
}
.b5l3{
    color: #4b4b4b;
    font-size: 18px;
    margin-top: 40px;
}
.box6{
    height: 650px;
    background-color: #fec18f;
    position: relative;
    margin-bottom: 160px;

}
.ib6p1{
    position: absolute;
    bottom: -35px;
    right: 60px;
}
.b6p2{
    position: absolute;
    top: 70px;
    left: 250px;
}
.b6p3{
    height: 350px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 140px;
    left: 110px;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 80px;
    padding-right: 73px;
    position: relative;
}
.b6l1,
.b6l2{
    display: block;
    display: grid;
    width: 250px;
    padding: 20px;
}
.b6l3{
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 160px;
}
.lb6{
    margin: 0px;
    height: 0px;
}
.inb6{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 230px;
    margin-right: 10px;
}
.bb6l3{
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 210px;
    color: white;
    cursor: pointer;
    background-color: #fa8b02;
}
.box7{
    margin: 0px 100px 130px 100px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}
@media (max-width: 750px){
    .box7{
        grid-template-columns: 300px 300px;
    }
    .b7l1{
        margin-bottom: 20px;
    }
}
@media (max-width: 400px){
    .box7{
        grid-template-columns: 300px;
    }
    .b7l1{
        margin-bottom: 20px;
    }
    .l2{
        grid-template-columns: 1fr;
    }
    .box3{
        grid-template-columns: 1fr;
    }
    .b3l4{
        grid-template-columns: 1fr;
    }
    .box5{
        display: grid;
    }
}
.b7h3,
.eruo,
.cost,
.pd,
.ib7p2,
.imgd{
    margin: 0px;
}
.b7h2{
    margin-left: 100px;
    margin-bottom: 50px;
}
.ib7{
    width: 100%;
}
.eruo,
.cost,
.pd,
.ib7p2,
.imgd{
    display: inline-block;
}
.b7p1{
    height: 280px;
}
.b7p2{
    height: 350px;
    border-top: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.6); 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.b7l1{
    border-radius: 20px;
    transition: all 0.2s;
    margin-left: 20px;
}
.b7l1:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.b7h3{
    padding: 20px 0px 15px 20px;
    font-size: 18px;
}
.b7pr{
    display: flex;
}
.eruo{
    color: #7e7e7e;
    margin-left: 20px;

}
.cost{
    color: #fa8b02;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
}
.pd{
    color: #7e7e7e;
    margin-left: 6px;
    padding-top: 13.5px;
    font-size: 14px;
}
.b7p3{
    margin-top: 20px;
    color: #696969;
    font-size: 13px;
    margin-left: 15px;
    display: flex;
}
.ib7p2{
    margin-left: 5px;
    padding-top: 4px;
}
.b7p4{
    margin: 30px 15px 0px 15px;
}
.bb7{
    height: 36px;
    width: 100%;
    background-color: white;
    border: 1px solid #fbaf71;
    color: #fbaf71;
    border-radius: 18px;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer;
}
.bb7:hover{
    background-color: #fc9c4e;
    color: white;
}